@page "{id:int?}"

@model RestaurantApp.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Restaurant.Name</h1>

<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./Edit" class="btn btn-outline-warning">Edit</a>
<a asp-page="./Index" class="btn btn-outline-secondary">Go Back</a>