@page
@model RestaurantApp.Pages.Restaurants.IndexModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<p>
    Is your restaurant not listed?
    <a asp-page="./Create">Add Your Restaurant</a>
</p>

<form asp-page="./Index" method="get" class="mt-4">
    <div class="input-group">
        <input 
            type="text" name="searchTerm" value="@Model.CurrentFilter" 
            class="form-control" placeholder="Start typing here to filter results"
            aria-describedby="search-button"/>
        <button class="btn btn-primary" id="search-button">
            <i class="bi bi-search"></i>
        </button>
        <a asp-page="./Index">Clear Filters</a>
    </div>
</form>

<table class="table mt-3">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                    asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Restaurants[0].Name)    
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Cuisine)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => restaurant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => restaurant.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => restaurant.Cuisine)
            </td>
            <td>
                <a class="btn btn-primary"
                    asp-page="./Detail"
                    asp-route-id="@restaurant.Id"
                    >
                    <i class="bi bi-zoom-in"></i>
                </a>
                <a class="btn btn-primary"
                    asp-page="./Edit"
                    asp-route-id="@restaurant.Id"
                    >
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a class="btn btn-primary"
                    asp-page="./Delete"
                    asp-route-id="@restaurant.Id"
                    >
                    <i class="bi bi-x-lg"></i>
                </a>
            </td>
        </tr>
    }
</table>

@{
    var prevDisabled = !Model.Restaurants.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Restaurants.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Restaurants.PageIndex - 1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @prevDisabled">
    Previous
</a>

<a asp-page="./Index"
    asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Restaurants.PageIndex + 1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @nextDisabled">
    Next
</a>

<div>
    @Model.Message
</div>