@page
@model ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="input-group mt-5">
        <input type="search" asp-for="SearchTerm" class="form-control" placeholder="Start typing here to filter results"/>
        <button class="btn btn-primary">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>

<table class="table">
    <th>Id</th> 
    <th>Name</th>
    <th>Location</th>
    <th>Cuisine Type</th>
    <th>Actions</th>
    
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-primary"
                    asp-page="./Detail"
                    asp-route-restaurantId="@restaurant.Id"
                    >
                    <i class="bi bi-zoom-in"></i>
                </a>
                <a class="btn btn-primary"
                    asp-page="./Edit"
                    asp-route-restaurantId="@restaurant.Id"
                    >
                    <i class="bi bi-pencil-square"></i>
                </a>
            </td>
        </tr>
    }
</table>

<p>
    Is your restaurant not listed?
    <a asp-page="./Edit">Add New</a>
</p>

<div>
    @Model.Message
</div>